<div  class="apply-container">

  <div>
    <iframe style="height: 90vh; width: 100%;"; id="iframepdf" src="https://res.cloudinary.com/dx3uj4h7t/image/multi/v1623778699/<%=@apply.id%>.pdf"></iframe>
  </div>

  <div class="sharing-method">

    <div id="shared-apply">
      <div>
        <input type="text" value="https://res.cloudinary.com/dx3uj4h7t/image/multi/v1623778699/<%= @apply.id %>.pdf" id="myInput">
      </div>
      <div style="margin-top: 1vw">
        <button class="bretour" onclick="myFunction()">Copy text</button>
      </div>
    </div>


    <div id= "finalized_apply" class= "cform">
      <%= simple_form_for @apply, url: share_apply_path(@apply), method: :post do |f| %>
        <%= f.input :email, label: "Share with a friend !", placeholder: "Email" %>
        <%= f.submit "Envoyer", class: "bsuivant" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

  /* Copy the text inside the text field */
  document.execCommand("copy");
}
</script>
