<h1>My applies</h1>
<% @applies.each do |apply| %>
<p>Titre: </p><%=apply.title %>
<p>Date d'expiration: </p><%=apply.expiracy_date %> <%= link_to "Editer",  edit_apply_path(apply) %>
<p>Total de documents: </p><%= apply.rentfiles.count %>

<%= link_to "Delete", apply_path(apply), method: :delete, remote: true, data: { confirm: "Are you sure?" } %>

<% end %>
<h1><%= link_to 'Créer un dossier!', new_apply_path %></h1>
<h2> rendre possible la visualisation des fichiers pour chaque apply <h2>

