
<div class="container">
  <div class= "cfirst">
    <div class="row">
      <div class="col-12">
        <h2>Commençons</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%= simple_form_for [ @user, @apply ] do |f| %>
          <div class="form-group">
            <%= f.hidden_field :type, as: :hidden, value: @next_type %>
            <%= f.input :title, label: "Nommez votre dossier de location", id: "sizefontnew" %>
            <%= f.input :expiracy_date, label: "Pour un maximum de sécurité, choissisez la date à laquelle votre dossier sera supprimé" %>
            <%= f.submit "Commencer à charger les fichiers", class: "bcta" %>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

