<h1>Votre dossier de location</h1>`
<h2><%= @apply.title %></h2>
<h3><%= @apply.expiracy_date %></h3>
<p1><%= @apply.rentfiles[1] %></p1>`
<%= link_to "Supprimer ce dossier !", @apply, method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Editer ce fichier !", edit_apply_path(@apply) %>

