<div class="cards">
  <h1>Votre dossier de location</h1>
  <h2><%= @apply.title %></h2>
  <h3><%= @apply.expiracy_date %></h3>

  <p> <%=  link_to("Finalisez et créez votre dossier", finalized_apply_path(@apply)) %></p>
  <%= link_to "Supprimer ce dossier !", @apply, method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
</div>

<div class="cards">
        <% Rentfile::ALL_RENTFILES.each do |rentfile_type|%>
          <%= rentfile_type %>
          <% rentfile = Rentfile.find_by(apply_id: @apply.id, name: rentfile_type) %>
          <% if rentfile %>
            <i class="fa fa-check" aria-hidden="true"></i>
            <%= simple_form_for rentfile do |f|%>
              <%= f.input :photos, input_html: { name: "Modifier votre fichier" }, label: false, as: :file, input_html: { multiple: true } %>
              <%= f.submit value: "Mettre à jour" %>
            <% end %>
          <% else %>
            <i class="fa fa-times" aria-hidden="true"></i>
            <%= simple_form_for [@apply, Rentfile.new] do |f|%>
              <%= f.hidden_field :name, value: rentfile_type %>
              <%= f.hidden_field :from, value: :show %>
              <%= f.input :photos, input_html: { name: "Ajouter un fichier" }, label: false, as: :file, input_html: { multiple: true } %>
              <%= f.submit value: "Ajouter au dossier" %>
            <% end %>
          <% end %>
        <% end %>
</div>
