
<% if params[:optional].nil? %>

  <div class="container">
    <div class= "cform">
      <div class="row">
        <div class="col-12">
            <%= simple_form_for [@apply, @rentfile] do |f|%>
              <%= f.hidden_field :name, value: @type %>
              <%= f.input :photos, as: :file, label: @type, input_html: { multiple: true } %>
              <%= f.submit "Suivant", class: "bsuivant" %>
              <%=  link_to("je n'ai pas d'autres fichier à ajouter, retour à mon dossier !", "/../../../apply(@apply)")%>
            <% end %>
          </div>
      </div>
    </div>
  </div>

<% else %>


  <p> <%=  link_to("Ne plus ajouter de pièces pour l'instant et visualiser mon dossier [DU CSS ICI SVP, un position: fixed semble adapté, et à gauche]", apply_path(@apply)) %></p>

  <div class="container">
    <div class= "cform">
      <div class="row">
        <div class="col-12">
            <%= simple_form_for [@apply, @rentfile] do |f|%>
              <%= f.hidden_field :name, value: @type[0] %>
              <%= f.input :photos, as: :file, label: @type[0], input_html: { multiple: true } %>
              <%= f.submit "Suivant", class: "bsuivant" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class= "cform">
      <div class="row">
        <div class="col-12">
            <%= simple_form_for [@apply, @rentfile] do |f|%>
              <%= f.hidden_field :name, value: @type[1] %>
              <%= f.input :photos, as: :file, label: @type[1], input_html: { multiple: true } %>
              <%= f.submit "Suivant", class: "bsuivant" %>
            <% end %>
          </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class= "cform">
      <div class="row">
        <div class="col-12">
            <%= simple_form_for [@apply, @rentfile] do |f|%>
              <%= f.hidden_field :name, value: @type[2] %>
              <%= f.input :photos, as: :file, label: @type[2], input_html: { multiple: true } %>
              <%= f.submit "Suivant", class: "bsuivant" %>
            <% end %>
          </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class= "cform">
      <div class="row">
        <div class="col-12">
            <%= simple_form_for [@apply, @rentfile] do |f|%>
              <%= f.hidden_field :name, value: @type[3] %>
              <%= f.input :photos, as: :file, label: @type[3], input_html: { multiple: true } %>
              <%= f.submit "Suivant", class: "bsuivant" %>
            <% end %>
          </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class= "cform">
      <div class="row">
        <div class="col-12">
            <%= simple_form_for [@apply, @rentfile] do |f|%>
              <%= f.input :name, label: "Donnez un nom à votre fichier" %>
              <%= f.input :photos, as: :file, input_html: { multiple: true } %>
              <%= f.submit "Suivant", class: "bsuivant" %>
            <% end %>
          </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class= "cform">
      <div class="row">
        <div class="col-12">
            <%= simple_form_for [@apply, @rentfile] do |f|%>
              <%= f.input :name, label: "Donnez un nom à votre fichier" %>
              <%= f.input :photos, as: :file, input_html: { multiple: true } %>
              <%= f.submit "Suivant", class: "bsuivant" %>
            <% end %>
          </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class= "cform">
      <div class="row">
        <div class="col-12">
            <%= simple_form_for [@apply, @rentfile] do |f|%>
              <%= f.input :name, label: "Donnez un nom à votre fichier" %>
              <%= f.input :photos, as: :file, input_html: { multiple: true } %>
              <%= f.submit "Suivant", class: "bsuivant" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
